@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__bg {
    z-index: 1;
    background-image: url('/public/images/hero-bg.jpg');
    position: absolute;
    // top: -20%;
    top: -10%;
    left: 0;
    width: 100%;
    height: 120%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: linear-gradient($color-black-40, $color-black-80);
  }

  &__wrap {
    z-index: 13;
    position: absolute;
    bottom: 21.4rem;
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    justify-self: center;

    @include vp-1500 {
      max-width: 1000px;
    }

    @include vp-1200 {
      max-width: 800px;
    }

    @include vp-1000 {
      max-width: 680px;
      flex-direction: column;
      gap: 3.4rem;
      bottom: 19.2rem;
    }
  }

  &__title {
    width: 900px;
    margin: 0;
    color: $color-white;
    font-family: $ff-librebaskerville-bold;
    font-size: 6rem;
    line-height: 1.35;
    letter-spacing: -0.1rem;

    @include vp-1500 {
      width: 700px;
      font-size: 5.2rem;
    }

    @include vp-1200 {
      width: 500px;
      font-size: 5rem;
    }

    @include vp-1000 {
      width: 640px;
      font-size: 4.8rem;
    }
  }

  &__greeting {
    position: absolute;
    left: 4.9rem;
    top: -2.6rem;
    font-family: $ff-montserrat-bold;
    color: $color-red-accent;
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 1.25;
    letter-spacing: 0.5rem;

    &::before {
      position: absolute;
      left: -7.9rem;
      top: 50%;
      content: '';
      width: 60px;
      height: 2px;
      background-color: $color-red-accent;
    }
  }

  &__link-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.5rem;

    @include vp-1200 {
      padding-right: 30px;
    }

    @include vp-1000 {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__link {
    // display: flex;
    width: 210px;
    // background: transparent;
    text-align: center;
    font-size: 1.2rem;
    font-family: $ff-montserrat-semibold;
    line-height: 4.8rem;
    color: $color-white;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    cursor: pointer;
    // padding: 0.3rem;

    border: 0.3rem solid $color-white;
    transition: all 0.5s ease-in-out;

    outline: none;

    &:hover,
    &:focus-visible {
      background-color: $color-white;
      color: $color-black;
    }
  }

  &__scrool-link {
    position: absolute;
    left: 0.6rem;
    bottom: -15.4rem;
    color: $color-white;
    font-family: $ff-montserrat-semibold;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    line-height: 3rem;

    &::after {
      border-bottom: 0.2rem solid $color-red-scrool;
      border-right: 0.2rem solid $color-red-scrool;
      content: '';
      display: block;
      height: 8px;
      width: 8px;
      margin-top: -7px;
      pointer-events: none;
      position: absolute;
      right: -2rem;
      top: 50%;
      transform: rotate(45deg);
    }

    @include vp-1000 {
      bottom: -13rem;
    }
  }
}
