@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.hero {
  min-height: 786px;
  height: 100vh;
  // height: 100dvh;
  position: relative;
  overflow: hidden;

  @include vp-500 {
    min-height: 654px;
    // height: 100dvh;
  }

  &__bg {
    background-image: $bg-hero-url;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: $bg-overlay-gradient;
  }

  &__wrap {
    position: absolute;
    bottom: 21.4rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;

    @include vp-1500 {
      max-width: 1000px;
    }

    @include vp-1200 {
      max-width: 800px;
    }

    @include vp-1000 {
      max-width: 680px;
      flex-direction: column;
      gap: 3.4rem;
      bottom: 19.2rem;
    }

    @include vp-800 {
      max-width: 500px;
    }

    @include vp-600 {
      max-width: 380px;
      bottom: 15rem;
    }

    @include vp-500 {
      max-width: none;
      width: 85%;
    }

    @include vp-400 {
      width: calc(100% - 5rem);
      gap: 3rem;
      bottom: calc(50% - 1.7rem);
      transform: translate(-50%, 50%);
    }
  }

  &__title {
    display: block;
    width: 900px;
    margin: 0;
    color: $color-primary-text;
    font-family: $ff-librebaskerville-bold;
    font-size: 6rem;
    line-height: 1.35;
    letter-spacing: -0.1rem;

    @include vp-1500 {
      width: 700px;
      font-size: 5.2rem;
    }

    @include vp-1200 {
      width: 500px;
      font-size: 5rem;
    }

    @include vp-1000 {
      width: 640px;
      font-size: 4.8rem;
    }

    @include vp-800 {
      width: 460px;
      font-size: 4.4rem;
    }

    @include vp-600 {
      width: unset;
      font-size: 4.2rem;
    }

    @include vp-500 {
      font-size: 3.8rem;
    }

    @include vp-400 {
      font-size: 3.5rem;
      line-height: 1.25;
      letter-spacing: -0.2rem;
    }

    &-br {
      display: flex;

      @include vp-1200 {
        display: inline;
      }
    }
  }

  &__greeting {
    position: absolute;
    left: 4.9rem;
    top: -2.6rem;
    font-family: $ff-montserrat-bold;
    color: $color-hero-greeting;
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 1.25;
    letter-spacing: 0.5rem;

    @include vp-800 {
      left: 3.9rem;
      font-size: 1.6rem;
    }

    @include vp-500 {
      font-size: 1.5rem;
    }

    @include vp-400 {
      letter-spacing: 0.4rem;
    }

    &::before {
      position: absolute;
      left: -7.9rem;
      top: 50%;
      content: '';
      width: 6rem;
      height: 2px;
      background-color: $color-hero-greeting;

      @include vp-800 {
        width: 4rem;
        left: -4.8rem;
      }
    }
  }

  &__link-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.5rem;

    @include vp-1200 {
      padding-right: 30px;
    }

    @include vp-1000 {
      flex-direction: row;
      justify-content: flex-start;
    }

    @include vp-600 {
      flex-direction: column;
    }

    @include vp-400 {
      padding: 0;
      gap: 1rem;
    }
  }

  &__link {
    width: 210px;
    text-align: center;
    font-size: 1.2rem;
    font-family: $ff-montserrat-semibold;
    line-height: 4.8rem;
    color: $color-primary-btn;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    cursor: pointer;

    border: 0.3rem solid $brdr-color-primary-btn;
    transition: all 0.5s ease-in-out;

    outline: none;

    @include vp-400 {
      width: auto;
      letter-spacing: 0.2rem;
    }

    &:hover,
    &:focus-visible {
      background-color: $bg-color-primary-btn;
      color: $color-secondary-btn;
    }
  }

  &__scrool-link {
    position: absolute;
    left: 0.6rem;
    bottom: -15.4rem;
    color: $color-primary-text;
    font-family: $ff-montserrat-semibold;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    line-height: 3rem;
    padding-right: 3rem;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

    @include vp-1000 {
      bottom: -13rem;
    }

    @include vp-600 {
      bottom: -9rem;
    }

    @include vp-400 {
      bottom: -8.6rem;
      letter-spacing: 0.25rem;
    }

    &:hover,
    &:focus-visible {
      opacity: 0.7;
      transform: scale(1.01);
    }

    &::after {
      border-bottom: 0.2rem solid $color-hero-scrool;
      border-right: 0.2rem solid $color-hero-scrool;
      content: '';
      display: block;
      height: 8px;
      width: 8px;
      margin-top: -7px;
      pointer-events: none;
      position: absolute;
      right: 0.8rem;
      top: 50%;
      transform: rotate(45deg);
    }
  }
}
