@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.nav {
  padding: 20px 20px 0 0;
  font-family: $ff-montserrat-bold;
  $root: &;
  transition: all 0.5s ease-in-out;

  @include vp-800 {
    padding: 0;
  }

  &--open-burger {
    #{$root}__list {
      display: flex;
      // top: 0;
      transform: translateY(0);
    }

    #{$root}__burger-line {
      background-color: transparent;

      &::before {
        top: 0px;
        transform: rotate(135deg);
      }

      &::after {
        bottom: 0px;
        transform: rotate(225deg);
      }
    }
  }

  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2.5rem;

    @include vp-800 {
      position: absolute;
      flex-direction: column;
      gap: 0;
      z-index: -1;
      top: 0;
      left: 0;
      transform: translateY(-100%);
      width: 100%;
      background-color: $bg-color-burger;
      padding: 120px 40px 42px;
      transition: transform 0.5s ease-in-out;
    }
  }

  &__list-item {
    @include vp-800 {
      &:first-child #{$root}__link {
        border-top: 1px solid rgba(221, 0, 0, 0.07);
      }
    }
  }

  &__link {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 1.1rem;
    color: $color-primary-text;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

    &:hover,
    &:focus-visible {
      opacity: 0.7;
      transform: scale(1.02);
    }

    &--current {
      color: $color-nav-active;
    }

    @include vp-800 {
      padding: 18px 0;
      line-height: 18px;
      border-bottom: 1px dotted rgba(255, 255, 255, 0.07);
    }
  }

  &__burger {
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 42px;
    height: 42px;
    // transition: opacity 0.5s ease-in-out;

    @include vp-800 {
      display: flex;
    }

    &-line {
      position: relative;
      display: flex;
      height: 2px;
      width: 24px;
      background-color: $color-primary-text;
      // background-color: red;
      transition: background-color 0.1s ease-in-out;

      &::before,
      &::after {
        content: '';
        position: absolute;
        background-color: $color-primary-text;
        height: 2px;
        width: 24px;
        left: 0;
        transition: transform 0.5s ease-in-out;
      }

      &::before {
        top: 9px;
      }

      &::after {
        bottom: 9px;
      }
    }
  }
}
