@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.nav {
  padding: 2rem 2rem 0 0;
  font-family: $ff-montserrat-bold;

  @include vp-800 {
    display: none;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2.5rem;
  }

  &__link {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 1.1rem;
    color: $color-primary-text;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

    &:hover,
    &:focus-visible {
      opacity: 0.7;
      transform: scale(1.01);
    }

    &--current {
      color: $color-nav-active;
    }
  }
}
