@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.contact-form {
  display: flex;
  flex-direction: column;

  &__btn {
    padding: 0 3rem;
    text-align: center;
    width: 100%;
    margin: 4.2rem 0 0;
    font-family: $ff-montserrat-semibold;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    height: 5.4rem;
    line-height: 4.8rem;
    cursor: pointer;
    border: 0.3rem solid #c5c5c5;
    transition: all $transition-300;
    background-color: $bgc-btn-submit;
    border-color: $brc-btn-submit;
    color: $color-btn-submit;
    transition: filter $transition-300;

    &:hover,
    &:focus-visible {
      filter: brightness(1.1);
    }
  }
}
