@use './variables' as *;

@mixin vp-1500 {
  @media (max-width: $vp-1500) {
    @content;
  }
}

@mixin vp-1200 {
  @media (max-width: $vp-1200) {
    @content;
  }
}

@mixin vp-1000 {
  @media (max-width: $vp-1000) {
    @content;
  }
}
