@use './variables' as *;

@mixin vp-1500 {
  @media (max-width: $vp-1500) {
    @content;
  }
}

@mixin vp-1200 {
  @media (max-width: $vp-1200) {
    @content;
  }
}

@mixin vp-1000 {
  @media (max-width: $vp-1000) {
    @content;
  }
}

@mixin vp-800 {
  @media (max-width: $vp-800) {
    @content;
  }
}

@mixin vp-600 {
  @media (max-width: $vp-600) {
    @content;
  }
}

@mixin vp-500 {
  @media (max-width: $vp-500) {
    @content;
  }
}

@mixin vp-400 {
  @media (max-width: $vp-400) {
    @content;
  }
}
