// Colors
$color-white: #ffffff;
$color-red-accent: hsl(0, 60%, 33%);
$color-red-link: #af2b2b;
$color-red-scrool: #922424;
$color-socials-tooltip: #af2b2b;
$color-black: #000000;

$color-black: #000000;

$color-white-08: rgb(255, 255, 255, 0.08);
$color-black-40: rgb(0, 0, 0, 0.4);
$color-black-80: rgb(0, 0, 0, 0.8);

$color-night-rider: #2f2f2f;
$color-portage: #7888e2;
$color-free-speech-blue: #475cd6;
$color-free-speech-blue-2: #364edf;
$color-royal-blue: #5c72ee;
$color-solitude: #e8eeff;
$color-light-pink: #f5b8c0;
$color-lavender-blush: #fff0f1;
$color-white-smoke: #f8f8f8;
$color-solitude: #e8eeff;
$color-suva-grey: #8b8b8b;
$color-shuttle-grey: #8b8b8b;
$color-alice-blue: #f8faff;
$color-red-orange: #ff2f2f;

// Typography
// libre baskerville
$ff-librebaskerville-regular: 'librebaskerville-regular', 'Times New Roman',
  serif;
$ff-librebaskerville-italic: 'librebaskerville-italic', 'Times New Roman', serif;
$ff-librebaskerville-bold: 'librebaskerville-bold', 'Times New Roman', serif;
//  montserrat
$ff-montserrat-black: 'montserrat-black', 'Arial', sans-serif;
$ff-montserrat-extrabold: 'montserrat-extrabold', 'Arial', sans-serif;
$ff-montserrat-bold: 'montserrat-bold', 'Arial', sans-serif;
$ff-montserrat-semibold: 'montserrat-semibold', 'Arial', sans-serif;
$ff-montserrat-medium: 'montserrat-medium', 'Arial', sans-serif;
$ff-montserrat-regular: 'montserrat-regular', 'Arial', sans-serif;
$ff-montserrat-light: 'montserrat-light', 'Arial', sans-serif;
$ff-montserrat-extralight: 'montserrat-extralight', 'Arial', sans-serif;
$ff-montserrat-thin: 'montserrat-thin', 'Arial', sans-serif;

// Viewport
$vp-1500: 1500px;
$vp-1200: 1200px;
$vp-1000: 1000px;
$vp-800: 800px;
$vp-600: 600px;
$vp-500: 500px;
$vp-400: 400px;

// Animation
$transition-300: ease-in 0.3s;
