// Colors
//global
$color-primary: #ffffff;
$color-secondary: #0d0a0b;
$color-third: rgba(255, 255, 255, 0.2);
$color-four: rgba(255, 255, 255, 0.5);
$color-accent: #862121;
$bgc-body: #0a0809;
$color-head-line: rgba(0, 0, 0, 0.1);

// input
$color-input: rgba(255, 255, 255, 0.75);
$color-input-focus: #ffffff;
$brc-input: rgba(255, 255, 255, 0.1);
$brc-input-focus: #ffffff;
$color-input-error: #ffffff;
$bgc-input-error: #862121;

// btn
$brc-btn-primary: #ffffff;
$color-btn-primary: #ffffff;
$color-btn-secondary: #000000;
$bgc-btn-primary: #ffffff;
$color-btn-submit: #ffffff;
$bgc-btn-submit: #862121;
$brc-btn-submit: #862121;

// socials
$color-socials-tooltip-hero: #af2b2b;
$bgc-socials-line: rgb(255, 255, 255, 0.08);
$color-socials-bar: rgb(255, 255, 255, 0.15);

// nav
$color-nav-active: #af2b2b;

// graph
$color-graph-title: #0d0a0b;
$color-graph-tooltip: #ffffff;
$bgc-graph-tooltip: #000000;
$bgc-graph-bar: #c9c9c9;
$bgc-graph-value: #000000;

// show-more
$color-show-more-btn: #151515;
$bgc-show-more-btn: #c5c5c5;
$brc-show-more-btn: #c5c5c5;
$color-show-more-btn-hover: #000000;
$bgc-show-more-btn-hover: #b8b8b8;
$brc-show-more-btn-hover: #b8b8b8;
// burger
$bgc-burger: #000000;

//hero
$color-hero-scrool: #922424;
$bgi-hero-img: url('/images/hero-bg.jpg');
$bgi-hero-overlay: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.8));

// about
$bgc-about: #ffffff;
$color-about: #5f5f5f;

// contact
// $bgc-contact: #151515;
$bgi-contact-img: url('/images/contact-bg.jpg');

// Typography
// libre baskerville
$ff-librebaskerville-regular: 'librebaskerville-regular', 'Times New Roman',
  serif;
$ff-librebaskerville-italic: 'librebaskerville-italic', 'Times New Roman', serif;
$ff-librebaskerville-bold: 'librebaskerville-bold', 'Times New Roman', serif;
//  montserrat
$ff-montserrat-black: 'montserrat-black', 'Arial', sans-serif;
$ff-montserrat-extrabold: 'montserrat-extrabold', 'Arial', sans-serif;
$ff-montserrat-bold: 'montserrat-bold', 'Arial', sans-serif;
$ff-montserrat-semibold: 'montserrat-semibold', 'Arial', sans-serif;
$ff-montserrat-medium: 'montserrat-medium', 'Arial', sans-serif;
$ff-montserrat-regular: 'montserrat-regular', 'Arial', sans-serif;
$ff-montserrat-light: 'montserrat-light', 'Arial', sans-serif;
$ff-montserrat-extralight: 'montserrat-extralight', 'Arial', sans-serif;
$ff-montserrat-thin: 'montserrat-thin', 'Arial', sans-serif;

// Viewport
$vp-1500: 1500px;
$vp-1200: 1200px;
$vp-1000: 1000px;
$vp-800: 800px;
$vp-600: 600px;
$vp-500: 500px;
$vp-400: 400px;

// Animation
$transition-500: 0.5s ease-in-out;
$transition-400: 0.4s ease-in-out;
$transition-300: 0.3s ease-in-out;
