// Colors
$color-primary-text: #ffffff;
$color-secondary-text: #5f5f5f;
$color-primary-btn: #ffffff;
$color-secondary-btn: #000000;
$color-link-text: #862121;
$color-socials-tooltip-hero: #af2b2b;
$color-socials-line: rgb(255, 255, 255, 0.08);
$color-socials-bar: rgb(255, 255, 255, 0.15);
$color-hero-scrool: #922424;
$color-hero-greeting: #862121;
$color-nav-active: #af2b2b;

//Background color
$bg-color-primary-body: #0a0809;
$bg-color-primary-btn: #ffffff;

//Background image and URL's
$bg-hero-url: url('/images/hero-bg.jpg');
$bg-overlay-gradient: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.8));

// Border color
$brdr-color-primary-btn: #ffffff;

// Typography
// libre baskerville
$ff-librebaskerville-regular: 'librebaskerville-regular', 'Times New Roman',
  serif;
$ff-librebaskerville-italic: 'librebaskerville-italic', 'Times New Roman', serif;
$ff-librebaskerville-bold: 'librebaskerville-bold', 'Times New Roman', serif;
//  montserrat
$ff-montserrat-black: 'montserrat-black', 'Arial', sans-serif;
$ff-montserrat-extrabold: 'montserrat-extrabold', 'Arial', sans-serif;
$ff-montserrat-bold: 'montserrat-bold', 'Arial', sans-serif;
$ff-montserrat-semibold: 'montserrat-semibold', 'Arial', sans-serif;
$ff-montserrat-medium: 'montserrat-medium', 'Arial', sans-serif;
$ff-montserrat-regular: 'montserrat-regular', 'Arial', sans-serif;
$ff-montserrat-light: 'montserrat-light', 'Arial', sans-serif;
$ff-montserrat-extralight: 'montserrat-extralight', 'Arial', sans-serif;
$ff-montserrat-thin: 'montserrat-thin', 'Arial', sans-serif;

// Viewport
$vp-1500: 1500px;
$vp-1200: 1200px;
$vp-1000: 1000px;
$vp-800: 800px;
$vp-600: 600px;
$vp-500: 500px;
$vp-400: 400px;

// Animation
$transition-500: 0.5s ease-in-out;
