// Colors
//global
$color-primary: #ffffff;
$color-secondary: #0d0a0b;
$color-third: rgba(255, 255, 255, 0.2);
$color-link: #862121;
$bgc-body: #0a0809;

// btn
$brc-btn-primary: #ffffff;
$color-btn-primary: #ffffff;
$color-btn-secondary: #000000;
$bgc-btn-primary: #ffffff;

// socials
$color-socials-tooltip-hero: #af2b2b;
$bgc-socials-line: rgb(255, 255, 255, 0.08);
$color-socials-bar: rgb(255, 255, 255, 0.15);

// nav
$color-nav-active: #af2b2b;

// graph
$color-graph-title-text: #0d0a0b;
$color-graph-tooltip-text: #ffffff;
$bg-color-graph-tooltip: #000000;
$bg-color-graph-bar: #c9c9c9;
$bg-color-graph-value: #000000;

// show-more
$color-show-more-btn: #151515;
$bgc-show-more-btn: #c5c5c5;
$brc-show-more-btn: #c5c5c5;
$color-show-more-btn-hover: #000000;
$bgc-show-more-btn-hover: #b8b8b8;
$brc-show-more-btn-hover: #b8b8b8;
// burger
$bg-color-burger: #000000;

//hero
$color-hero-scrool: #922424;
$color-hero-greeting: #862121;
$bg-hero-url: url('/images/hero-bg.jpg');
$bg-overlay-gradient: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.8));

// about
$bg-color-about: #ffffff;

// Typography
// libre baskerville
$ff-librebaskerville-regular: 'librebaskerville-regular', 'Times New Roman',
  serif;
$ff-librebaskerville-italic: 'librebaskerville-italic', 'Times New Roman', serif;
$ff-librebaskerville-bold: 'librebaskerville-bold', 'Times New Roman', serif;
//  montserrat
$ff-montserrat-black: 'montserrat-black', 'Arial', sans-serif;
$ff-montserrat-extrabold: 'montserrat-extrabold', 'Arial', sans-serif;
$ff-montserrat-bold: 'montserrat-bold', 'Arial', sans-serif;
$ff-montserrat-semibold: 'montserrat-semibold', 'Arial', sans-serif;
$ff-montserrat-medium: 'montserrat-medium', 'Arial', sans-serif;
$ff-montserrat-regular: 'montserrat-regular', 'Arial', sans-serif;
$ff-montserrat-light: 'montserrat-light', 'Arial', sans-serif;
$ff-montserrat-extralight: 'montserrat-extralight', 'Arial', sans-serif;
$ff-montserrat-thin: 'montserrat-thin', 'Arial', sans-serif;

// Viewport
$vp-1500: 1500px;
$vp-1200: 1200px;
$vp-1000: 1000px;
$vp-800: 800px;
$vp-600: 600px;
$vp-500: 500px;
$vp-400: 400px;

// Animation
$transition-500: 0.5s ease-in-out;
$transition-400: 0.4s ease-in-out;
$transition-300: 0.3s ease-in-out;
