@use './normalize' as *;
@use './fonts' as *;
@use './variables' as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: $color-primary;
  background-color: $bgc-body;
}

main {
  flex-grow: 1;
  min-height: calc(100vh);
}

img {
  display: block;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

button {
  cursor: pointer;
}

svg {
  display: inline-block;
  overflow: hidden;
}

use {
  width: 100%;
  height: 100%;
}
