@use '../../../styles/mixins' as *;

.header {
  position: absolute;
  inset: 0;
  height: 72px;
  z-index: 1;
  margin: 0 auto;
  padding: 0 50px;

  @include vp-800 {
    padding: 0 30px 0 40px;
  }

  &__wrap {
    height: 72px;
    display: flex;
    margin: auto 0;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 27px;
  }
}
