.header {
  position: absolute;
  inset: 0;
  height: 72px;
  z-index: 1;

  &__wrap {
    height: 72px;
    display: flex;
    margin: auto 0;
    justify-content: space-between;
    align-items: center;
  }
}
