@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.about {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 5rem 9rem;
  background-color: $bgc-about;
  color: $color-secondary;
  font-family: $ff-librebaskerville-bold;

  &__sub-title {
    font-size: 2.4rem;
    line-height: 1.25;
    font-family: $ff-montserrat-medium;
    margin: 0;
  }

  &__skills-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__svg {
    color: $color-secondary;
    width: 14px;
    height: 14px;
  }
}
