@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.about {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15rem 5rem 9rem;
  background-color: $bgc-about;
  color: $color-secondary;
  font-family: $ff-librebaskerville-bold;

  &__title {
    text-align: center;
    margin: 0 0 1.8rem;
    padding: 0;
    font-size: 4.8rem;
    line-height: 1.375;
    letter-spacing: -0.1rem;

    @include vp-800 {
      font-size: 4.2rem;
    }

    @include vp-600 {
      font-size: 3.6rem;
      letter-spacing: -0.07rem;
    }

    @include vp-400 {
      font-size: 3.3rem;
    }
  }

  &__sub-title {
    font-size: 2.4rem;
    line-height: 1.25;
    font-family: $ff-montserrat-medium;
    margin: 0;
  }

  &__skills-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
