@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.about {
  display: flex;
  flex-direction: column;
  padding: 0 0 9rem;
  background-color: $bgc-about;
  color: $color-secondary;
  font-family: $ff-librebaskerville-bold;

  &__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    max-width: 1160px;
    width: 94%;
    margin: 0 auto;

    @include vp-800 {
      max-width: 600px;
      width: 90%;
      grid-template-columns: 1fr;
    }

    @include vp-600 {
      padding: 0 25px;
      width: 100%;
    }
  }

  &__text-wrap {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }

  &__sub-title {
    font-size: 2.4rem;
    line-height: 1.25;
    font-family: $ff-montserrat-medium;
    margin: 0;

    @include vp-800 {
      text-align: center;
    }
  }

  &__text {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.875;
    color: $color-about;
    font-family: $ff-librebaskerville-regular;
  }

  &__text-head {
    font-size: 2rem;
    line-height: 1.25;
    font-family: $ff-montserrat-bold;
    margin: 0;
  }

  &__skills-wrap {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__skills-list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__skills-item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__svg {
    color: $color-secondary;
    width: 14px;
    height: 14px;
  }
}
