@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.graph {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  // $root: &;

  &__title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    font-family: $ff-montserrat-extrabold;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: $color-graph-title;
  }

  &__bar-bg {
    display: flex;
    position: relative;
    height: 0.6rem;
    background: $bgc-graph-bar;
  }

  &__value {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bgc-graph-value;
    background-image: linear-gradient(to right, #191a3f, #2d462c);
  }

  &__tooltip {
    display: flex;
    position: absolute;
    top: -3.2rem;
    right: 0;
    text-transform: uppercase;
    font-family: $ff-montserrat-regular;
    color: $color-graph-tooltip;
    font-size: 1.1rem;
    line-height: 1;
    background-color: $bgc-graph-tooltip;
    border-radius: 3px;
    padding: 0.6rem;
    transform: translateX(50%);

    // coolhack from ref
    &::after {
      position: absolute;
      left: 50%;
      bottom: -5px;
      margin-left: -5px;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-top: 5px solid #000000;
      content: '';
    }
  }
  // #{$root}__tooltip {
  // }
}
