@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.section-head {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 15rem;
  text-align: center;
  color: $color-secondary;
  max-width: 760px;
  margin: 0 auto;
  // $root: &;

  &--bar {
    margin-bottom: 7.5rem;

    &::after {
      position: absolute;
      bottom: -2rem;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      height: 1px;
      width: 240px;
      background-color: $color-head-line;
      background-color: red;
    }
  }

  &--dark {
  }

  &__name {
    font-size: 2rem;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    color: $color-accent;
    font-family: $ff-montserrat-semibold;
  }

  &__title {
    font-family: $ff-librebaskerville-bold;
    font-size: 4.8rem;
    line-height: 1.375;
    margin: 0 0 1.8rem;
    letter-spacing: -0.1rem;

    @include vp-800 {
      font-size: 4.2rem;
    }

    @include vp-600 {
      font-size: 3.6rem;
      letter-spacing: -0.07rem;
    }

    @include vp-400 {
      font-size: 3.3rem;
    }
  }

  &__text {
    font-family: $ff-montserrat-regular;
    margin: 0 0 3.6rem;
    padding: 0;
    font-size: 2rem;
    line-height: 1.8;
  }
}
