@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 18rem;
  right: 3rem;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: $ff-montserrat-bold;
  $root: &;
  z-index: 1;

  @include vp-600 {
    bottom: 10.8rem;

    &::after {
      height: 10.1rem;
      right: -10.8rem;
    }
  }

  @include vp-400 {
    display: none;
  }

  &--hero {
  }

  &--footer {
  }

  &::after {
    display: block;
    content: '';
    height: 17.4rem;
    width: 1px;
    background-color: $color-white-08;
    position: absolute;
    bottom: -18rem;
    right: 50%;
    transform: translateX(50%);
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;

    &:hover #{$root}__icon,
    &:focus-visible #{$root}__icon {
      transform: scale(1.4);
    }

    &:hover #{$root}__tooltip,
    &:focus-visible #{$root}__tooltip {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }

  &__icon {
    color: $color-white;
    width: 1.4rem;
    height: 1.4rem;
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
  }

  &__tooltip {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 4.7rem;
    color: $color-socials-tooltip;
    text-transform: capitalize;
    font-size: 1.3rem;
    line-height: 3.6rem;
    transform: scale(0);
    transform-origin: 100% 50%;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out,
      visibility 0.5s ease-in-out;
  }
}
