@use '../../../styles/variables' as *;

.socials {
  position: absolute;
  bottom: 0;
  right: -4rem;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: $ff-montserrat-bold;

  &--hero {
  }

  &--footer {
  }

  &__link {
    width: auto;
    color: $color-white;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
