@use '../../../styles/variables' as *;

.show-more {
  position: relative;
  padding-bottom: 8rem;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0;
    list-style-type: none;
    margin: 0;
  }

  &__item {
    &--show {
      animation: show $transition-400 forwards;
    }

    &--hide {
      animation: hide $transition-400 forwards;
    }
  }

  &__btn {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $ff-montserrat-semibold;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding: 0;
    text-align: center;
    line-height: 4.8rem;
    color: $color-show-more-btn;
    background-color: $bgc-show-more-btn;
    border: 0.3rem solid $brc-show-more-btn;
    width: 100%;
    transition: color $transition-300, background-color $transition-300,
      border-color $transition-300;

    &:hover,
    &:focus-visible {
      border-color: $brc-show-more-btn-hover;
      background-color: $bgc-show-more-btn-hover;
      color: $color-show-more-btn-hover;
    }

    &--sticky {
      border-color: $brc-show-more-btn-hover;
      position: sticky;
      justify-self: right;
      border-radius: 50%;
      top: 80px;
      margin: 0;
      margin-bottom: -50px;
      transform: translateY(-60px);
      z-index: 1;
      width: 50px;
      height: 50px;

      &--show {
        animation: show $transition-400 forwards;
      }

      &--hide {
        animation: hide $transition-400 forwards;
      }
    }
  }
}

@keyframes show {
  from {
    opacity: 0;
    scale: 0.9;
  }

  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    scale: 0.9;
  }
}
