@use '../../../styles/variables' as *;

.show-more {
  scroll-margin-top: 2rem;
  position: relative;
  padding-bottom: 20px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0;
    list-style-type: none;
    margin: 0 0 2.5rem;

    &--full {
      transform: translateY(-50px);
    }
  }

  &__item {
    &--show {
      animation: show $transition-400 forwards;
    }

    &--hide {
      animation: hide $transition-400 forwards;
    }
  }

  &__btn {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $ff-montserrat-semibold;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding: 0;
    text-align: center;
    color: #151515;
    background-color: #c5c5c5;
    border: 0.3rem solid #c5c5c5;
    width: 100%;
    transition: color $transition-300, background-color $transition-300,
      border-color $transition-300;

    &:hover,
    &:focus-visible {
      background-color: #b8b8b8;
      border-color: #b8b8b8;
      color: #000000;
    }

    &--sticky {
      border-color: #b8b8b8;
      position: sticky;
      justify-self: right;
      border-radius: 50%;
      top: 20px;
      margin: 0;
      z-index: 1;
      width: 50px;
      height: 50px;

      &--show {
        animation: show $transition-400 forwards;
      }

      &--hide {
        animation: hide $transition-400 forwards;
      }
    }
  }
}

@keyframes show {
  from {
    opacity: 0;
    scale: 0.9;
  }

  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    scale: 0.9;
  }
}
