@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.footer {
  padding: 6.6rem 2.5rem 4.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;

  @include vp-1200 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @include vp-1200 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  &__logo {
    height: 44px;

    @include vp-400 {
      height: 34px;
    }
  }

  &__credits {
    padding-top: 7.2rem;
    font-size: 1.4rem;
    color: $color-third;
    font-family: $ff-montserrat-regular;

    @include vp-600 {
      padding-top: 7.7rem;
    }

    &-link {
      color: $color-accent;
      transition: filter 0.5s ease-in-out;

      &:focus-visible,
      &:hover {
        filter: brightness(1.3);
      }
    }
  }
}
